* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

header {
  display: flex;
  background-color: #8f9491;
  flex-direction: column;
  padding: 20px;
}

h1 {
  font-size: 1000%;
  margin-top: 5px;
}

h2 {
  font-size: 750%;
  margin-top: 5px;
}

nav {
  background-color: #eadde1;
  font-size: 150%;
  line-height: 20px;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 10px;
}

nav a:hover::after {
  cursor: grab;
}

.main-div {
  display: flex;
}

.article {
  flex: 2;
  background-color: white;
  padding: 10px;
}

.aside {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: white;
}

.circle-border {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  margin: 5px;
}

.circle-border img {
  width: 100%;
  height: auto;
}
#About-Me {
}

#Latest {
}

#Additional-Projects {
}

#Contact-Me {
}

@media screen (max-width: 780px) {
}
